GhPython.csproj.user
GhPython.suo
/bin
/obj
/references/RhinoCommon.xml
/references/GH_IO.dll
/references/GH_IO.xml
/references/Grasshopper.dll
/references/Grasshopper.xml
/references/RhinoCommon.dll
/references/GH_Util.dll
/references/Grasshopper.pdb